/* Ajuste boostrap para celular en horizontal */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
} */
/* Ajuste boostrap para celular en horizontal */

/* Menu desktop */
.header-wrapper-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
    padding: 16px 0;
}
.header-wrapper-desktop .main-menu-desktop {
    position: relative;
    display: flex;
    align-items: center;
}
.header-wrapper-desktop .main-menu-desktop li:not(:last-child) {
    margin-right: 38px;
}
.header-wrapper-desktop .main-menu-desktop li {
    transition: all 0.6s;
    position: relative;
    text-transform: capitalize;
    border-radius: initial;
}
.header-wrapper-desktop .main-menu-desktop li a:hover {
    color: var(--rojo-plapers);
}
/* Menu desktop */

/* Custom CSS */
#app {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 540px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.demo-slider-container {
  align-self: center;
  width: 100%;
  /*max-width: 412px;*/
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;
  margin: auto 0;
}

.demo-slider-wrap {
  position: relative;
  padding-bottom: 63.1578947368%;
}

.demo-slider {
  flex-shrink: 0;
  position: absolute;
  inset: 0;
}

.cards-slider {
  border-radius: 16px;
}
.cards-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}